:host(app-institution-manager) {
    width: 100%
}

#add:hover {
    background-color: rgb(30, 17, 219);
    color: white;
    opacity: 0.8;
    font-weight: normal;
}

#delete:hover {
    background-color: rgb(228, 75, 75);
    color: white;
    opacity: 0.8;
    font-weight: normal;
}

.ng-valid[required],
.ng-valid.required {
    border-left: 5px solid #42A948;
    /* green */
}

.ng-invalid:not(form) {
    border-left: 5px solid #a94442;
    /* red */
}