<div *ngIf="!loginService.isLogin()">
<p>Account</p>
<input type="text" placeholder="input your account">
<p>Password</p>
<input type="password" placeholder="input your password">
<div>
  <button [routerLink]="['/account']">login</button>
</div>
<br>
<div>
  <button (click)="signInWithFB()" style="background: #D2691E">Login with facebook</button>
</div>
<div>
  <button (click)="signInWithGoogle()" style="background: #D2691E">Login with Google</button>
</div>
</div>

<div *ngIf="loginService.isLogin()">
  <div>Your ID:{{loginService.user.id}}</div>
  <div>Your Name:{{loginService.user.name}}</div>
  <div>Your Email:{{loginService.user.email}}</div>
  <div>
    <img [src]="loginService.user.photoUrl" alt="Your photo">
  </div>
</div>
