<div align="center">
    <div *ngIf="!loginService.isLogin()">
        <div align="center" style="padding-top: 19%;">
            <img src="https://icon-library.net/images/facebook-login-icon/facebook-login-icon-10.jpg" width="30%" (click)="signInWithFB()">
            <br>
            <img src="https://icon-library.net/images/login-with-google-icon/login-with-google-icon-16.jpg" width="27.5%" (click)="signInWithGoogle()">
        </div>
    </div>

    <div *ngIf="loginService.isLogin() ">
        <div align="center ">
            <img [src]="loginService.getUserInfo().photoUrl " alt="Your photo ">
        </div>
        <div>Welcome to {{loginService.getUserInfo().name}}</div>
        <div>Your Have success Login with {{loginService.getUserInfo().email}}</div>

    </div>
</div>