<app-institutions-list *ngIf="loginService.userResource && loginService.getUserResource().resourceType=='Patient'" [searchParams]="{type:'team'}"></app-institutions-list>

<div *ngIf="loginService.userResource && loginService.getUserResource().resourceType=='Organization'">
  <h1>
    <b><i id="titleText">Personal Information</i></b>
  </h1>
  <hr color="87CEEB">
  <form #patientIdForm="ngForm">
    <table border="3" align="center" style="width: 100%;">
      <tr>
        <td align="center">ID</td>
        <td><input class="tep" placeholder="the ID" type="text" [(ngModel)]="patientId" name="patientId" required></td>
      </tr>
    </table>
  </form>
  <br />
  <button (click)="searchPatient()" type="submit" id="submit" [disabled]="!patientIdForm.valid">Submit</button>
  <div *ngIf="isPrivateCorrect">
    <app-patient-manager [disable]="true" [patientInfo]="patientInfo"></app-patient-manager>
    <table class="blueTable" border="3" align="center" style="width: 100%;">
      <i align="center" style="width: 100%;">
        <tr>
          <td id="demoFont" align="center">開始時間</td>
          <td><input style="font-size:24px; color:#0a0a0a" type="time" class="tep myMOUSE form-control" placeholder="輸入開始時間"
              [(ngModel)]="medicalRecord.time.start" required></td>
          <td id="demoFont" align="center">結束時間</td>
          <td><input style="font-size:24px; color:#0a0a0a" class="tep myMOUSE" type="time" placeholder="輸入結束時間"
              [(ngModel)]="medicalRecord.time.end" required></td>
          <div id="demoFont" align="center" *ngFor="let diagnosis of medicalRecord.diagnosis;index as i">
            <td id="demoFont" align="center">症狀</td>
            <td><input type="text" style="font-size:24px; color:#0a0a0a" class="tep myMOUSE form-control"
                placeholder="輸入症狀" [(ngModel)]="diagnosis.diagnosis" required>
            </td>
          </div>
          <td><button id="add" style="font-size:15px;" class="tep myMOUSE"
              (click)="medicalRecord.diagnosis.push({serviceType:''})">新增症狀</button></td>
          <td><button id="delete" style="font-size:15px;" class="tep myMOUSE"
              (click)="medicalRecord.diagnosis.pop()">刪除症狀</button></td>
        </tr>
      </i>
      <tr>
        <td><button type="submit" id="submit" title="確定要送出嗎?" (click)="submitRecord()">送出</button></td>
      </tr>
    </table>

  </div>

</div>