<h1>
  <b><i>Medical Resource Filter System</i></b>
</h1>
<hr color = "87CEEB">
<h3>
  Patient Requirement block
</h3>
<table  border="3" align="center" style="width: 100%;">
  <tr>
    <td align="center">Name</td><td><input class="tep" placeholder="the Institution Name"></td>
  </tr>
  <tr>
    <td style="width: 20%;" align="center">Alias</td><td><input class="tep" placeholder="the Alias"></td>
  </tr>
  <tr>
    <td align="center">Medical services</td><td><input class="tep" placeholder="the Medical service options"></td>
  </tr>
</table>
<br/>
<button type="submit" >Submit</button>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <!-- Position Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef > Id. </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>
  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef > Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>
  <ng-container matColumnDef="alias">
    <th mat-header-cell *matHeaderCellDef > Alias </th>
    <td mat-cell *matCellDef="let element"> {{element.alias}} </td>
  </ng-container>
  <!-- Weight Column -->
  <ng-container matColumnDef="address">
    <th mat-header-cell *matHeaderCellDef > Address </th>
    <td mat-cell *matCellDef="let element"> {{element.address}} </td>
  </ng-container>
  <!-- Symbol Column -->
  <ng-container matColumnDef="telecom">
    <th mat-header-cell *matHeaderCellDef > Telecom </th>
    <td mat-cell *matCellDef="let element"> {{element.telecom}} </td>
  </ng-container>
  <ng-container matColumnDef="medicalServices">
    <th mat-header-cell *matHeaderCellDef > Medical Services </th>
    <td mat-cell *matCellDef="let element"> {{element.medicalServices}} </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<!-- Copyright 2019 Google LLC. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->


<!-- Copyright 2019 Google LLC. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->
           <!-- <div>
              <p>Medical service</p>
              <input size="50" placeholder="the Medical service options">
              <p>Other options</p>
              <input size="50" placeholder="the other options">
          </div> -->
          <!-- <h3>
            The recommend institution results
          </h3> -->
           <!-- <div>
             <table>
              <tr>
                <th>Name</th>
                <th>id</th>
                <th>location</th>
             </tr>
             <tr>
               <td>institution1</td>
               <td>123131</td>
               <td>taipei<td>
               </tr>
             </table>
             to be continued.....
            </div> -->
                     