<div>
        <h2>
          Medical Institution Recommend System
        </h2>
          <h3>
            Patient Requirement block
          </h3>
           <div>
              <p>Medical service</p>
              <input size="50" placeholder="the Medical service options">
              <p>other options</p>
              <input size="50" placeholder="the other options">
          </div>
          <h3>
            The recommend institution results
          </h3>
           <div>
             <table>
              <tr>
                <th>Name</th>
                <th>id</th>
                <th>location</th>
             </tr>
             <tr>
               <td>institution1</td>
               <td>123131</td>
               <td>taipei<td>
               </tr>
             </table>
             to be continued.....
            </div>
        </div>