<!-- <h2>
        Persional Information
      </h2>
      <mat-grid-list cols="2" rowHeight="15:8" align="center">
        <mat-grid-tile style="background: #00FFFF">
          <div>
            Social Info
            <div>Name: <input placeholder="this is your name"></div>
            <div>Id: <input placeholder="this is your id"></div>
            <div>Birth: <input placeholder="this is your birth"></div>
            <div>to be continued....</div> 
          </div>
        </mat-grid-tile>
        <mat-grid-tile style="background: #F5F5">
          <div>
            Physical Info
            <div>Height: <input placeholder="this is your height"></div>
            <div>Weight: <input placeholder="this is your weight"></div>
            <div>Blood type: <input placeholder="this is your blood type"></div> 
            <div>to be continued....</div> 
          </div>
        </mat-grid-tile>
        <mat-grid-tile colspan="2" style="background: #F5F598">
          <div>    
            <h2>Persional Medical Record</h2>
            <div>Drug allergy: <input placeholder="this is your Drug allergy"></div>
            <div>Immunization history: <input placeholder="this is your Immunization history"></div>
            <div>Family history: <input placeholder="this is your Family history"></div>
            <div>to be continued....</div> 
          </div>
        </mat-grid-tile>
      </mat-grid-list>
      
       -->