.title {
  margin: 0;
  color:rgba(8, 8, 8, 0.644);
  text-align: center;
}
div,#login-href{
  text-align: center;
}

/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/