<div></div>
<div>
  <a [routerLink]="['/']">
    <h1 class="title">Shared Medical Information System</h1>
  </a>
</div>
<div>
  <a *ngIf="!loginService.isLogin()" id="login-href" [routerLink]="['/login']" class="button fancy-button">Login</a>
  <a *ngIf="loginService.isLogin()" id="login-href" (click)="loginService.logoff()"
    class="button fancy-button">Logoff</a>
</div>
<!-- Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that -->
<!-- can be found in the LICENSE file at http://angular.io/license -->